[submodule "extern/TCPunch"]
	path = extern/TCPunch
	url = git@github.com:OpenCoreCH/TCPunch.git
[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
